body {
	font-family: 'Ubuntu', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform:lowercase;
    letter-spacing: .15em;
    top: 15%;
	background: linear-gradient(to right, red , black); /* Standard syntax */
}

h1 {
    font: 2.5em 'Ubuntu', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
}
h2 {
    line-height: 50%;
}
h3 {
	font: 900 1em 'Ubuntu', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
